h2 {
  font-family: verdana;
}
h3 {
  font-family: verdana;
}
h4 {
  font-family: verdana;
}
table, th, td {
  border: 1px solid;
  width: 50%;
  height: 150px
  table-layout: fixed;
  text-align: center;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
html {
  background-color: #d6dbe0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%
}
